<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <!-- REQUIRED HEADER -->
    ${header_include}
    <style>
        .error-msg {
        font-size: 90%;
        font-style: italic;
        color: red;
        }
     </style>
</head>


<body class="hold-transition sidebar-mini" ng-app="myApp" ng-cloak>
<div class="wrapper" ng-controller="mainCtrl">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" role="button">
                       Logout <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <div ng-include="APP_DOMAIN +'admin/partital/menu.html'"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Add Banner</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Dashbroad</a></li>
                                <li class="breadcrumb-item active">Manage Banner </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card card-primary">

                        <!-- form start -->
                        <form name="formAddData">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Banner Name</label>
                                    <input ng-model="banner_name" name="banner_name" ng-required ="true"  type="text" class="form-control" placeholder="Banner Name">
                                    <span ng-show="formAddData.banner_name.$invalid && !formAddData.banner_name.$pristine" class="error-msg"> Dữ liệu không được để trống!</span>
                                </div>
                                <div class="form-group">
                                    <label>Action Link</label>
                                    <input ng-model="action" name="action" ng-required ="true"  type="text" class="form-control" placeholder="Action Link">
                                    <span ng-show="formAddData.action.$invalid && !formAddData.action.$pristine" class="error-msg"> Dữ liệu không được để trống!</span>
                                </div>
                                <div class="form-group">
                                    <label>Position</label>
                                    <select ng-model="position" name="position" ng-select ="true"  ng-init="position='0'" class="form-control">
                                        <option value="0">Choose the position</option>
                                        <option value="1">Top</option>
                                        <option value="2">Bottom</option>
                                        <!-- <option ng-repeat="item in listCategory " value="{{item.id}}">{{item.cateName}}</option> -->
                                    </select>
                                    <span class="error-msg" ng-show="position == '0' && !formAddData.position.$pristine"> Dữ liệu không được để trống!</span>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select ng-model="status" name="status" ng-select ="true" ng-init="status='0'" class="form-control">
                                        <option value="0">Choose the Status</option>
                                        <option value="1">Show</option>
                                        <option value="2">Hide</option>
                                    </select>
                                    <span class="error-msg" ng-show="status == '0' && !formAddData.status.$pristine"> Dữ liệu không được để trống!</span>
                                </div>
                                <div class="mb-3">

                                    <label class="mb-2" style="color:black">Image</label><br>
                                    <input ng-required ="true" type="file" file="filex" name="file2" id="preImg" style="color: black;" accept="image/*" />
                                    <img id="blah" src="#" class="mt-2" alt="your image" onerror="this.style.display = 'none'" width="150px" style="display: block;" />
                                    <span ng-show="formAddData.image.$invalid && !formAddData.image.$pristine" class="error-msg"> Dữ liệu không được để trống!</span>
                                </div>
                                <div>
                                    <button ng-click="addData()" type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    ${footer_include}
    <script>
        var app = angular.module('myApp', ['ngPagination']); //ngPagination

        app.directive('file', function() {
            return {
                scope: {
                    file: '='
                },
                link: function(scope, el, attrs) {
                    el.bind('change', function(event) {
                        var file = event.target.files[0];
                        scope.file = file ? file : undefined;
                        scope.$apply();
                    });
                }
            };
        });
       app.controller('mainCtrl', function($scope, $http, $rootScope) {
            var url = document.URL.split('/');
            var urltmp = url[4].split('?')[0];
            $rootScope.lastUri = urltmp.split('#')[0];
            // console.log(urltmp);
            $scope.APP_DOMAIN = "${app_domain}/";
            preImg.onchange = evt => {
                const [file] = preImg.files
                if (file) {
                    blah.src = URL.createObjectURL(file)
                    blah.style = "block";
                }
            }

            $scope.addData = function() {
                console.log($scope.banner_name);
                console.log($scope.action);
                console.log($scope.position);
                console.log($scope.status);
                if ($scope.banner_name && $scope.action && $scope.position && $scope.status) {
                    $http({
                            method: 'POST',
                            url: $scope.APP_DOMAIN + 'admin/api/banner?action=add',
                            headers: {
                                'content-type': undefined
                            },
                            data: {
                                banner_name: $scope.banner_name,
                                action: $scope.action,
                                image: $scope.filex,
                                position: $scope.position,
                                status: $scope.status,
                            },
                            transformRequest: function(data, headersGetter) {
                                console.log(data);
                                var formData = new FormData();
                                angular.forEach(data, function(value, key) {
                                    formData.append(key, value);
                                });

                                return formData;

                            }
                        })
                        .then(function(response) {
                            console.log(response);
                            if (response.data.errorCode < 0) {
                                showNotification("error", response.data.message);
                            } else {
                                $scope.banner_name = "";
                                $scope.action = "";
                                $("#blah").css("display", "none");
                                $('#preImg').val('');
                                $scope.position = "0";
                                $scope.status = "0";
                                showNotification("success", response.data.message);
                            }

                        })
                } else {
                    showNotification("error", "Dữ liệu không hợp lệ!");
                }

            }

       });
    </script>
  

</body>

</html>