<script src="${static_domain}/admin/plugins/jquery/jquery.min.js"></script>
<script src="${static_domain}/admin/plugins/select2/js/select2.full.min.js"></script>
<script src="${static_domain}/admin/js/bootstrap.bundle.min.js"></script>
<script src="${static_domain}/admin/dist/js/notification.js"></script>
<script src="${static_domain}/admin/dist/js/toastr.min.js"></script>
<script src="${static_domain}/admin/dist/js/adminlte.min.js"></script>
<script src="${static_domain}/admin/js/common.js"></script>
<script src="${static_domain}/admin/plugins/summernote/summernote.min.js"></script>