<script src="${static_domain}/admin/plugins/jquery/jquery.min.js"></script>
<script src="${static_domain}/plugins/select2/js/select2.full.min.js"></script>
<script src="${static_domain}/js/bootstrap.bundle.min.js"></script>
<script src="${static_domain}/dist/js/notification.js"></script>
<script src="${static_domain}/dist/js/toastr.min.js"></script>
<script src="${static_domain}/dist/js/adminlte.min.js"></script>
<script src="${static_domain}/js/common.js"></script>
<script src="${static_domain}/plugins/summernote/summernote.min.js"></script>