<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Real Estate Project</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="${static_domain}/admin/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="${static_domain}/admin/dist/css/adminlte.min.css">
<!-- <link rel="stylesheet" href="${static_domain}/admin/dist/css/adminlte.min.css"> -->
<link src="${static_domain}/admin/plugins/select2/css/select2.min.css"></link>
<link rel="stylesheet" href="${static_domain}/admin/dist/css/toastr.min.css">
<link rel="stylesheet" href="${static_domain}/admin/plugins/summernote/summernote.min.css">
<script src="${static_domain}/admin/js/angular.js"></script>
<script src="${static_domain}/admin/js/dirPagination.js"></script>