<!DOCTYPE html>
<html lang="en">

<head>
    <!-- REQUIRED HEADER -->
    ${header_include}
</head>

<body class="hold-transition sidebar-mini" ng-app="myApp" ng-cloak >
    <div class="wrapper" ng-controller="mainCtrl">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" role="button">
                       Logout <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <div ng-include="'partital/menu.html'"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Manage News</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Dashbroad</a></li>
                                <li class="breadcrumb-item active">Manage News </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input ng-model="search_query" type="text" name="search" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button ng-click="getListNews()" type="button" class="btn btn-primary"><i class="fas fa-search"> Search</i>
                                              </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <select ng-model="search_status" ng-change="getListNews()" ng-init="search_status='0'" class="form-control">
                                            <option value="0">Filter status</option>
                                            <option value="1">Show</option>
                                            <option value="2">Hide</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <select ng-model="search_category_news" ng-change="getListNews()" ng-init="search_category_news='0'" class="form-control">
                                            <option value="0">Filter Category News</option>
                                            <option ng-repeat="item in listCategoryNews" value="{{item.id}}">{{item.categoryNameNews}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group" style="margin-top: 8px;">
                                        <div class="form-check">
                                            <div style="display: inline-block;padding-right: 30px;">
                                                <input ng-model="hot" class="form-check-input" type="checkbox" ng-change="getListNews()">
                                                <label class="form-check-label">Hot</label>
                                            </div>
                                            <div style="display: inline-block; ">
                                                <input ng-model="new" class="form-check-input" type="checkbox" ng-change="getListNews()">
                                                <label class="form-check-label">New</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <a class="btn btn-primary" href="/admin/news/add">
                                        <i class="fas fa-plus"></i> Add News
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List News</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 2%">
                                            Id
                                        </th>
                                        <th style="width: 10%">
                                            Category News
                                        </th>
                                        <th style="width: 15%">
                                            Title
                                        </th>
                                        <th style="width: 20%">
                                            Description
                                        </th>
                                        <th style="width: 12%">
                                            Image
                                        </th>
                                        <th style="width: 5%">
                                            Status
                                        </th>
                                        <th style="width: 5%">
                                            Orders
                                        </th>
                                        <th style="width: 11%">
                                            Created Date
                                        </th>
                                        <th style="width: 11%">
                                            Updated Date
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody dir-paginate="item in listNews | itemsPerPage: 10" total-items="totalNews" pagination-id="news">
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.categoryNewsName}}</td>
                                        <td>{{item.title}}
                                            <span ng-if="item.property.cateHot" class="badge badge-danger">Hot</span>
                                            <span ng-if="item.property.cateNew" class="badge badge-primary">New</span>
                                        </td>
                                        <td>{{item.description}}</td>
                                        <td>
                                            <img width="100%" src="{{item.image}}" alt="">
                                        </td>
                                        <td>
                                            <span ng-if="item.status==1" class="badge badge-info">Show</span>
                                            <span ng-if="item.status==2" class="badge badge-secondary">Hide</span>
                                        </td>
                                        <td>{{item.orders}}</td>
                                        <td>{{item.createdDate}}</td>
                                        <td>{{item.updatedDate}}</td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-info btn-sm" href="/admin/news/edit?id={{item.id}}" style="margin: 5px 5px">
                                                <i class="fas fa-pencil-alt">
                                                </i> Edit
                                            </a>
                                            <a ng-click="delete(item.id, item.title)" class="btn btn-danger btn-sm" href="#" style="margin: 5px 5px">
                                                <i class="fas fa-trash">
                                                </i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix mt-3" style="margin-left: auto; padding-right: 20px;">
                                <dir-pagination-controls pagination-id="news" on-page-change="pageChanged(newPageNumber)" boundary-links="true" style="font-size: 13px"></dir-pagination-controls>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
                <!-- /.content -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    ${footer_include}

    <script>
        var app = angular.module('myApp', ['ngPagination']); //ngPagination
        app.controller('mainCtrl', function($scope, $http, $rootScope) {
            var url = document.URL.split('/');
            var urltmp = url[4].split('?')[0];
            $rootScope.lastUri = urltmp.split('#')[0];

            $scope.APP_DOMAIN = "${app_domain}/";

            $scope.selectedPageIndex = 1;

            //load CateNews
            $http({
                method: "GET",
                url: $scope.APP_DOMAIN + "admin/api/category_news",
                params: {
                    action: 'getcategorynews',
                    page_index: 1,
                    limit: 100
                },
            }).then(function(response) {
                console.log(response);
                $scope.listCategoryNews = response.data.data.listCategoryNews;
            })

            $scope.getListNews = function() {
                let property = 0;
                if ($scope.hot) {
                    property = property + 1;
                }
                if ($scope.new) {
                    property = property + 2;
                }
                console.log($scope.search_query);
                console.log($scope.search_status);
                console.log(property);
                $http({
                    method: "GET",
                    url: $scope.APP_DOMAIN + "admin/api/news",
                    params: {
                        action: 'getnews',
                        page_index: $scope.selectedPageIndex,
                        limit: 10,
                        search_query: $scope.search_query,
                        search_status: $scope.search_status,
                        search_category_news: $scope.search_category_news,
                        search_property: property
                    },
                }).then(function(response) {
                    console.log(response);
                    if (response.data.errorCode >= 0 && response.data.data) {
                        $scope.listNews = response.data.data.listNews;
                        $scope.totalNews = response.data.data.total;
                    } else {
                        $scope.listNews = [];
                        $scope.totalNews = 0;
                    }

                })
            }
            $scope.pageChanged = function(pageIndex) {
                $scope.selectedPageIndex = pageIndex;
                $scope.getListNews();
            };

            $scope.getListNews();

           



        });
    </script>
    
</body>

</html>